<% provide :title, t(".contact_test") %>
<h1><%= t ".contact_title" %></h1>
<p>
  <%= t ".contact_paragraph_0" %>
  <%= link_to t(".contact_paragraph_1"), "https://www.railstutorial.org/contact" %>
</p>
